*{
    font-family: 'Lexend', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@media screen and (max-width:900px)  {
    .anchors,.contactbutton{
        visibility: hidden;
        display: none
    }
    
}
@media screen and (min-width:900px){

}
body{
    background-color: rgb(255,255,255);
}

.toppart{
    background-color: #3b28ccff;
    width:100vw;
}
.topmenu{
    display:flex;
    align-items: center;
    width:auto;
    padding-top:12px;
    padding-bottom:12px;

}

.logowrapper{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 40px;
}

.logopfp{
    object-fit: contain;
}

.logotext{
    font-weight:900px;
    font-size:18px;
    padding-left:15px;
}
.lgtxt:visited,.lgtxt:active,.lgtxt:hover,.lgtxt{
    color:#87bfff;
    text-decoration:none;
}

.anchors{
    display:flex;
    justify-content:space-evenly;
    width:500px;
    
}

.abtxt,.sotxt,.putxt,.artxt{
    text-decoration:none;
    color:white;
    font-size: 20px;
    font-weight:300;
    display:flex;
    position: relative;
    background: linear-gradient(#3f8efcff 0 0) no-repeat calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
    transition: .2s var(--t,0s), background-position .1s calc(.3s - var(--t,0s));
}


.abtxt:hover,.sotxt:hover,.putxt:hover,.artxt:hover{
    --p: 100%;
    --t: .3s;
    color: #fff;
  }
  

.contactbutton{
    display:flex;
    justify-content: flex-end;
    margin-right:20px;
}
.contact:hover{
    filter:drop-shadow(0 0.2px 1.5px rgb(173, 167, 167));
}
.contact{
    border:3px solid #852fa2;
    background-color: #bd2b79ff;
    color:white;
    border-radius:15px;
    width:120px;
    height:40px;
    font-size:20px;
    font-weight:300;
    cursor:pointer;
    filter:none;
    transition:0.3s;
}

.menu{
    border:none;
    outline:none;
    background:transparent;
    padding:15px;
    cursor:pointer;
    align-items: center;
}

.topshadow{
    width:100vw;
    height:8px;
    background-color: #b7b7b7;
}

.welcomewrap{
    width:100%;
    height:auto;
    background-color:rgba(207,226,243,40);
    display:flex;
}

.oc{
    margin-top:30px;
    margin-left:60px;
    padding-bottom:20px;
    justify-content: flex-start;
}

.elementrightoc{
    display:flex-end;
    margin-top:60px;
    padding-left:20px;
}